body {
  color: 000;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  letter-spacing: 2px;
}

.navbar {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  background: #FFFFFF;
}

.navbar-menu {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-menu__item {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
}

.navbar-menu__item h2 {
  font-size: 16px;
}

.navbar-menu__item .button {
  border-radius: 0;
  flex: 1 1 auto;
  padding: 20px;
}

.navbar-menu__item:not(:first-child) {
  border-left: 1px solid #DADADA;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  appearance: none;
  border: none;
  background-color: transparent;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: .3s all ease;
}

a.button {
  text-decoration: none;
  color: #000;
}

.button--blue {
  background-color: #4e6cf0;
  color: #FFFFFF;
}

.button--blue:hover,
.button--blue:focus,
.button--blue:active {
  background-color: #2b4fec;
}

.button--green {
  background-color: #8bdb5f;
  color: #FFFFFF;
}

.button--green:hover,
.button--green:focus,
.button--green:active {
  background-color: #84cd5b;
}

.button--transparent:hover,
.button--transparent:focus,
.button--transparent:active {
  background-color: #DADADA;
}

.button p,
.button h1,
.button h2,
.button h3,
.button h4,
.button h5,
.button h6 {
  margin: 0;
  border: none;
}

.banner {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.banner__caption {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 20px;
  flex-shrink: 0;
  background: yellow;
}

.banner__image {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 200px;
}

.banner__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img {
  max-width: 100%;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.motto {
  padding: 20px;
}

.article {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.article__item {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  width: 100%;
}

.article__image {
  height: 200px;
  width: 200px;
  overflow: hidden;
  flex-shrink: 0;
  margin: auto;
}

.article__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.article__link {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  text-decoration: none;
  color: #000;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.article--stories .article__item:not(:last-child),
.article .article__item:not(:last-child),
.article--map .article__item:not(:last-child) {
  border-bottom: 1px solid #DADADA;
}

.article__link > :not(:last-child) {
  padding-right: 15px;
}

.article__action:hover {
  text-decoration: underline;
}

.article__summary,
.article__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.article__summary h2,
.article__summary p {
  margin-top: 0;
}

.article--home,
.article--impact, 
.article--map {
  flex-wrap: nowrap;
}

.article--impact 
.article__item:first-child {
  background-color: rgb(160, 243, 160)
}

.article--impact 
.article__item:nth-child(2) {
  background-color: lightskyblue;
}

.article--impact 
.article__item:nth-child(3) {
  background-color: green;
}

.article--map {
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 20px;
}

.article--map
.article__item:first-child h2 {
  color: rgb(160, 243, 160)
}

.article--map
.article__item:nth-child(2) h2 {
  color: lightskyblue;
}

.article--map 
.article__item:nth-child(3) h2 {
  color: green;
}

.article--impact .article__link,
.article--map .article__link {
  align-items: center;
}

.article--home {
  overflow: scroll;
}

.article--home .article__item {
  width: 75%;
  flex-basis: 75%;
  flex-shrink: 0;
  padding-right: 10px;
  padding-left: 10px;
}

.article--impact .article__item,
.article--map .article__item {
  width:100%;
  flex-basis: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-bottom: 10px;
}

.article--impact h2,
.article--impact p {
  color: white;
}

.article--impact,
.article--map {
  flex-direction: column;
}

.article--home .article__link {
  flex-direction: column;
}

.article--home .article__link > :not(:last-child),
.article--impact .article__link > :not(:last-child) {
  padding-right: 0;
  padding-bottom: 15px;
}

.article--home .article__image {
  width: 100%;
}

.article--impact .article__image,
.article--map .article__image {
  width: 100px;
  height: auto;
}

.article--impact .article__image img,
.article--map .article__image img{
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

@media (min-width: 768px) {
  .navbar-menu__item h2 {
    font-size: 22px;
  }

  .banner__caption {
    width: 20%;
  }

  .banner__caption > h2 {
    font-size: 50px;
  }

  .banner__image {
    height: 420px;
  }

  .article--impact .article__item {
    text-align: center;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .article--home .article__item,
  .article--impact .article__item {
    width:33.3333333333333333%;
    flex-basis: 33.3333333333333333%;
    padding-right: 10px;
    padding-left: 10px;
    flex-shrink: 1;
  }
  
  .article--impact {
    flex-direction: row;
  }

  .article--impact .article__link {
    flex-direction: column;
  }

  .article--home .article__link > :not(:last-child),
  .article--impact .article__link > :not(:last-child),
  .article--map .article__link > :not(:last-child) {
    padding-right: 0;
    padding-bottom: 15px;
  }

  .article--map {
  padding-right: 250px;
  padding-left: 250px;
  margin-top: 20px; 
  }

  .article__link {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}