body {
  color: 000;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  letter-spacing: 2px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-shrink: 1;
  min-height: 100vh;
}

h1 a {
  color: black;
  text-decoration: None;
}

h1 a:hover {
  text-decoration: Underline;
}

.navbar {
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background: #FFFFFF;
}

.navbar-menu {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-menu__item {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  text-align: center;
}

.navbar-menu__item h2 {
  font-size: 16px;
}

.navbar-menu__item .button {
  border-radius: 0;
  flex: 1 1 auto;
  padding: 20px;
}

.navbar-menu__item:not(:first-child) {
  border-left: 1px solid #DADADA;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  appearance: none;
  border: none;
  background-color: transparent;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  transition: .3s all ease;
}

a.button {
  text-decoration: none;
  color: #000;
}

.button--blue {
  background-color: #4e6cf0;
  color: #FFFFFF;
}

.button--blue:hover,
.button--blue:focus,
.button--blue:active {
  background-color: #2b4fec;
}

.button--green {
  background-color: #80b522;
  color: #FFFFFF;
}

.button--green:hover,
.button--green:focus,
.button--green:active {
  background-color: #6f9c11;
}

.button--transparent:hover,
.button--transparent:focus,
.button--transparent:active {
  background-color: #DADADA;
}

.button p,
.button h1,
.button h2,
.button h3,
.button h4,
.button h5,
.button h6 {
  margin: 0;
  border: none;
}

.banner {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.banner__caption {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 20px;
  flex-shrink: 0;
  background: yellow;
}

.banner__image {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  min-height: 200px;
  max-height: 300px;
}

.banner__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

img {
  max-width: 100%;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.motto {
  padding: 20px;
}

.article {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.article__item {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  width: 100%;
}

.article__image {
  height: 200px;
  width: 200px;
  overflow: hidden;
  flex-shrink: 0;
  margin: auto;
}

.article__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.article__link {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  text-decoration: none;
  color: #000;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.article--home .article__link:hover {
  background-color:#DADADA;
}

.article--stories .article__item:not(:last-child),
.article .article__item:not(:last-child),
.article--map .article__item:not(:last-child) {
  border-bottom: 1px solid #DADADA;
}

.article__link > :not(:last-child) {
  padding-right: 15px;
}

.article__action:hover {
  text-decoration: underline;
}

.article__summary,
.article__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.article__summary h2,
.article__summary p {
  margin-top: 0;
}

.article--home,
.article--impact, 
.article--map {
  flex-wrap: nowrap;
}

.article--impact 
.article__item:first-child {
  background-color: rgb(193, 220, 4)
}

.article--impact 
.article__item:first-child:hover{
  background-color: rgb(164, 184, 23)
}

.article--impact 
.article__item:nth-child(2) {
  background-color: rgb(44, 139, 193);
}

.article--impact 
.article__item:nth-child(2):hover {
  background-color: rgb(33, 106, 148);
}

.article--impact 
.article__item:nth-child(3) {
  background-color: rgb(90, 152, 25);
}

.article--impact 
.article__item:nth-child(3):hover {
  background-color: rgb(75, 129, 19)

}
.article--map {
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 20px;
}

.article--map
.article__item:first-child h2 {
  color: rgb(193, 220, 4)
}

.article--map
.article__item:nth-child(2) h2 {
  color: rgb(44,139,193);
}

.article--map 
.article__item:nth-child(3) h2 {
  color: rgb(90,152,25);
}

.article--impact .article__link,
.article--map .article__link {
  align-items: center;
}

.article--home {
  overflow: scroll;
}

.article--home .article__item {
  width: 75%;
  flex-basis: 75%;
  flex-shrink: 0;
  padding-right: 10px;
  padding-left: 10px;
}

.article--impact .article__item,
.article--map .article__item {
  width:100%;
  flex-basis: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-bottom: 10px;
}

.article--impact h2,
.article--impact p {
  color: white;
}

.article--impact,
.article--map {
  flex-direction: column;
}

.article--home .article__link {
  flex-direction: column;
}

.article--home .article__link > :not(:last-child),
.article--impact .article__link > :not(:last-child) {
  padding-right: 0;
  padding-bottom: 15px;
}

.article--home .article__image {
  width: 100%;
}

.article--impact .article__image,
.article--map .article__image {
  width: 100px;
  height: auto;
}

.article--impact .article__image img,
.article--map .article__image img{
  max-width: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

.single-article {
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 60%;
  margin: auto;
}

.single-article__header {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin-bottom: 30px;
  align-items: center;
}

.single-article__header > * {
  flex-basis: 50%;
  flex-shrink: 0;
}

.single-article__header > :not(:last-child) {
  padding-right: 30px;
}

.single-article__title h1 {
  font-size: 30px;
  margin: 0;
}

.single-article__image {
  overflow: hidden;
  width: 100%;
  height: 300px;
}

.single-article__image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.single-article__content {
  column-count: 1;
  column-gap: 30px;
}

.single-article__highlight {
  background: #DADADA;
  padding: 30px;
}

.single-article__content p {
  margin-top: 0;
}

.single-article__content .single-article__image {
  padding-left: 15px;
  padding-right: 15px;
  height: 200px;
}

.back-button {
  position: absolute;
  left: 2%;
}

.donate {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  margin-bottom: 30px;
  align-items: center;
  flex-wrap: wrap;
}

.donate > * {
  flex-basis: 100%;
  flex-shrink: 1;
}

.donate__banner {
  overflow: hidden;
  width: 100%;
  height: 300px;
  background-image: url("https://source.unsplash.com/A4Ax1ApccfA/1024x1024");
  background-position: top right;
}

.donate__banner img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.donate__form {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.donate__form-input {
  display: flex;
  flex-direction: row;
}

.donate__form-input:not(:last-child) {
  margin-bottom: 30px;
}

.donate__form-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  padding-left: 15px;
}

.donate__form-label h3 {
  margin: 0;
}

.donate__form-submit {
  display: flex;
  justify-content: flex-end;
}

.pagination {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  list-style: None;
  padding: 0;
  margin: auto;
}

.pagination li {
  padding: 0;
}

.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

@media (min-width: 768px) {
  .navbar-menu__item h2 {
    font-size: 22px;
  }

  .banner__caption {
    width: 20%;
  }

  .banner__caption > h2 {
    font-size: 50px;
  }

  .banner__image {
    height: 420px;
    max-height: 420px;
  }

  .article--impact .article__item {
    text-align: center;
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .article--home .article__item,
  .article--impact .article__item {
    width:33.3333333333333333%;
    flex-basis: 33.3333333333333333%;
    padding-right: 10px;
    padding-left: 10px;
    flex-shrink: 1;
  }
  
  .article--impact {
    flex-direction: row;
  }

  .article--impact .article__link {
    flex-direction: column;
  }

  .article--home .article__link > :not(:last-child),
  .article--impact .article__link > :not(:last-child),
  .article--map .article__link > :not(:last-child) {
    padding-right: 0;
    padding-bottom: 15px;
  }

  .article--map {
  padding-right: 250px;
  padding-left: 250px;
  margin-top: 20px; 
  }

  .article__link {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .single-article__title h1 {
    font-size: 100px;
  }

  .single-article__content {
    column-count: 2;
    column-gap: 15px;
  }

  .donate__banner {
    overflow: hidden;
    width: 100%;
    height: 100vh;
  }

  .donate > * {
    flex-basis: 50%;
    flex-shrink: 1;
  }

  .donate{
    flex-wrap: nowrap;
  }
}